.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0;
    margin: 0;
    background: none;
    list-style: none;

    &.card-title {
        font-size: 1rem;
        font-weight: 300;

        .breadcrumb-item {
            > a {
                color: $brand-primary;
            }

            > span {
                margin: 13px 30px 0;
                display: inline-block;
                font-size: 0.75rem;
                text-transform: uppercase;
            }
        }
    }

    .breadcrumb-item {
        display: list-item;

        + .breadcrumb-item {
            padding-left: 0;

            &::before {
                display: inline-block;
                padding-right: $breadcrumb-item-padding;
                padding-left: $breadcrumb-item-padding;
                color: $breadcrumb-divider-color;
                content: "#{$breadcrumb-divider}";
            }

            &:hover::before {
                text-decoration: underline;
            }

            // stylelint-disable-next-line no-duplicate-selectors
            &:hover::before {
                text-decoration: none;
            }
        }

        &.active {
            color: $brand-navy;
        }

        .dropdown {
            display: inline-block;

            a.dropdown-item:hover {
                color: #ffffff;
            }
        }

        .breadcrumb-dropdown {
            z-index: 999;
            position: absolute;

            .dropdown-toggle {
                background: none;
                border: none;
                outline: 0;
                box-shadow: none;
                height: 0;
                padding: 0;

                &:before,
                &:after,
                .filter-option {
                    display: none !important;
                }
            }

            .dropdown-menu {
                a {
                    color: $brand-primary;
                }

                a:hover,
                a:active,
                a.active {
                    color: #ffffff;
                }
            }
        }
    }
}