a[data-toggle="collapse"][aria-expanded="true"] .material-icons,
a[aria-expanded="true"] .material-icons {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}